/*底部导航图标*/
.icon-default{background: center url("../img/common/footer-default.png") no-repeat;background-size: contain;}
.icon-default-b{background: center url("../img/common/footer-default-b.png") no-repeat;background-size: contain;}
.icon-list{background: center url("../img/common/footer-list.png") no-repeat;background-size: contain;}
.icon-list-b{background: center url("../img/common/footer-list-b.png") no-repeat;background-size: contain;}
.icon-int{background: center url("../img/common/footer-int.png") no-repeat;background-size: contain;}
.icon-int-b{background: center url("../img/common/footer-int-b.png") no-repeat;background-size: contain;}
.icon-user{background: center url("../img/common/footer-user.png") no-repeat;background-size: contain;}
.icon-user-b{background: center url("../img/common/footer-user-b.png") no-repeat;background-size: contain;}
/*底部导航*/
footer{
    width: 100%;
    height: 60px;
    background: #f9f9f9;
    position: fixed;
    bottom: 0;
    border-top: solid 1px #d6d6d6;
}
footer ul{
    padding: 0;
    margin: 0;
}
footer a{
    color:#808080;
}
footer li{
    width: 25%;
    list-style: none;
    display: block;
    float: left;
    font-size: 12px;
}
footer li i{
    display: block;
    width: 25px;
    height: 25px;
    margin: 7px auto;
}
footer li .footerbar-btn{

}