/*=======自定义公共类========*/
ul{padding: 0;margin: 0;list-style: none;}
/*======颜色参数======*/
    .bg-white{background: #ffffff}
   .bg-gray{background: #f6f6f6}
   .app-blue{color: #12a7f4;}
   .font-black{color: #494949;}
   .font-gray{color: #ababab;}
   .font-orange{color: #f77000;}
   .font-orange-lighter{color: #f5bb70;}
   .font-red{color: #dd524d;}


/*边框*/
.border-a{border: solid 1px #dddddd;}
.border-t{border-top: solid 1px #dddddd;}
.border-b{border-bottom: solid 1px #dddddd;}
.border-l{border-left: solid 1px #dddddd;}
.border-r{border-right: solid 1px #dddddd;}


/*======图标类=====*/
/*底部导航图标*/
.icon-default{background: center url("../img/common/footer-default.png") no-repeat;background-size: contain;}
.icon-default-b{background: center url("../img/common/footer-default-b.png") no-repeat;background-size: contain;}
.icon-list{background: center url("../img/common/footer-list.png") no-repeat;background-size: contain;}
.icon-list-b{background: center url("../img/common/footer-list-b.png") no-repeat;background-size: contain;}
.icon-int{background: center url("../img/common/footer-int.png") no-repeat;background-size: contain;}
.icon-int-b{background: center url("../img/common/footer-int-b.png") no-repeat;background-size: contain;}
.icon-user{background: center url("../img/common/footer-user.png") no-repeat;background-size: contain;}
.icon-user-b{background: center url("../img/common/footer-user-b.png") no-repeat;background-size: contain;}

/*小图标*/
.icon-calculator{background: center url("../img/index/icon-calculator.png") no-repeat;background-size: contain;}
.icon-clock{background: center url("../img/index/icon-clock.png") no-repeat;background-size: contain;}
.icon-coupon{background: center url("../img/index/icon-coupon.png") no-repeat;background-size: contain;}
.icon-folder{background: center url("../img/index/icon-folder.png") no-repeat;background-size: contain;}
.icon-record{background: center url("../img/index/icon-record.png") no-repeat;background-size: contain;}
.icon-benifit{background: center url("../img/index/icon-benifit.png") no-repeat;background-size: contain;}
.icon-product{background: center url("../img/index/icon-product.png") no-repeat;background-size: contain;}
.icon-user-1{background: center url("../img/index/icon-user-1.png") no-repeat;background-size: contain;}
.icon-bao{background: center url("../img/common/icon-bao.png") no-repeat;background-size: contain;}
/*其它图标参考font－awesome文档*/

/*顶部状态栏*/
header{
    width: 100%;
    height: 45px;
    line-height: 40px;
    background: #ffffff;
    padding-top: 5px;
    font-size: 18px;
}
/*底部导航*/
footer{
    width: 100%;
    height: 50px;
    background: #f9f9f9;
    position: fixed;
    bottom: 0;
    border-top: solid 1px #d6d6d6;
}
footer ul{
    padding: 0;
    margin: 0;
}
footer a{
    color:#808080;
}
footer li{
    width: 25%;
    list-style: none;
    display: block;
    float: left;
    font-size: 10px;
}
footer li i{
    display: block;
    width: 22px;
    height: 22px;
    margin: 5px auto;
}

/*=======其它公共类========*/
.wrap{
    top: 40px;
    bottom: 50px;

}
.icon-block{display: block;}



