<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>智能投APP</title>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/mui.min.js"></script>
    <link href="../css/mui.css" rel="stylesheet"/>
    <link href="../fonts/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>
    <!--顶部导航-->
    <header>
        <!--<a href="javascript:;" class="icon-block icon-user-1 default-user"></a>-->
        <span class="app-blue" style="float: right;line-height: 30px;margin-right: 10px;font-size: 16px">帮助</span>
        <i class="fa fa-question-circle app-blue" style="float: right;line-height: 30px;font-size: 18px;margin-right:3px;"></i>
    </header>
    <!--中间内容-->
    <div class="mui-scroll-wrapper wrap">
        <div class="mui-scroll">
            <div class="default-top-block bg-white">
                <p>今日最新收益（元）</p>
                0.00
            </div>
            <!--选项列表-->
            <div class="default-sec-block border-t border-b bg-white">
                <ul>
                    <a href="javascript:;">
                        <li class="footerbar-btn">
                            <i class="icon-product"></i>
                            运行中产品
                        </li>
                    </a>
                    <a href="javascript:;">
                        <li class="footerbar-btn">
                            <i class="icon-coupon"></i>
                            我的优惠
                        </li>
                    </a>
                    <a href="javascript:;">
                        <li class="footerbar-btn">
                            <i class="icon-record"></i>
                            交易记录
                        </li>
                    </a>
                    <a href="javascript:;">
                        <li class="footerbar-btn">
                            <i class="icon-benifit"></i>
                            历史收益
                        </li>
                    </a>
                </ul>
            </div>
            <!--banner-->
            <div class="default-banner-block bg-gray border-b"></div>
            <!--推荐标题-->
            <div class="default-recom-title border-b bg-white">
                今日精品推荐
            </div>
            <!--产品介绍-->
            <div class="default-product-block border-b bg-white">
                <section class="default-product-left border-r">
                    <h1>金牛－涨赚钱</h1>
                    <h2 class="app-blue">6~26%</h2>
                    <h3 class="font-gray">年化收益率</h3>
                </section>
                <section class="default-product-mid">
                    <ul>
                        <li>
                            <i class="icon-clock"></i>
                            期限90天
                        </li>
                        <li>
                            <i class="icon-folder"></i>
                            <span class="font-orange">100</span>元起购
                        </li>
                        <li>
                            <i class="icon-calculator"></i>
                            每月返息
                        </li>
                    </ul>
                </section>
                <section class="default-product-right">
                    <span class="mui-icon mui-icon-arrowright" style="font-size:35px;line-height: 120px;color: #adadad"></span>
                </section>
            </div>
            <!--安全保障-->
            <aside class="default-safety font-gray">
                <i class="icon-bao"></i>
                <span>账户资金安全由招商银行监管</span>
            </aside>
        </div>
    </div>
    <!--底部选项卡-->
    <footer>
        <ul>
            <a href="javascript:;">
                <li class="footerbar-btn app-blue">
                    <i class="icon-default-b"></i>
                    精品推荐
                </li>
            </a>
            <a href="javascript:;">
                <li class="footerbar-btn">
                    <i class="icon-list"></i>
                    产品列表
                </li>
            </a>
            <a href="javascript:;">
                <li class="footerbar-btn">
                    <i class="icon-int"></i>
                    智能配置
                </li>
            </a>
            <a href="javascript:;">
                <li class="footerbar-btn">
                    <i class="icon-user"></i>
                    我
                </li>
            </a>
        </ul>
    </footer>
    <script type="text/javascript" charset="utf-8">
        mui.init();
        mui('.mui-scroll-wrapper').scroll({
            deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
        });
    </script>
</body>
</html>