<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>智能投APP</title>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/mui.min.js"></script>
    <link href="../css/mui.css" rel="stylesheet"/>
    <link href="../fonts/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</head>
<body>
<link href="../css/login.css" rel="stylesheet"/>
<!--header-->
<header class="login-head ">
    <span class="mui-icon mui-icon-closeempty login-close"></span>
    会员登录
</header>
<!--内容容器-->
<div class="mui-scroll-wrapper wrap">
    <div class="mui-scroll">
        <section class="login-top">
            <i class="icon-user-1"></i>
        </section>
        <section class="login-form border-t border-b">
            <input type="text" placeholder="请输入手机号" class="mui-input-clear login-form-input login-user" style="border-bottom: solid 1px #dddddd;background: left url('../img/login/icon-user-body.png') no-repeat">
            <input type="password" placeholder="请输入密码" class="login-form-input login-pwd mui-input-clear" style="background: left url('../img/login/icon-lock.png') no-repeat">
        </section>
        <button type="button" class="mui-btn login-btn">立即登录</button>
        <aside class="login-bot-txt">
            <a href="javascript:;" style="border-right: solid 1px #7e7e7e">注册账号</a>
            <a href="javascript:;">忘记密码</a>
        </aside>
    </div>
</div>

<!--footer-->
<!--初始化设置-->
<script type="text/javascript" charset="utf-8">
    mui.init();
    mui('.mui-scroll-wrapper').scroll({
        deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
    });
</script>
</body>
</html>