<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>智能投APP</title>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/mui.min.js"></script>
    <link href="../css/mui.css" rel="stylesheet"/>
    <link href="../fonts/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</head>
<body>
    <!--顶部导航-->
    <header></header>

    <!--底部选项卡-->
    <footer>
        <ul>
            <a href="javascript:;">
                <li class="footerbar-btn">
                    <i class="icon-default"></i>
                    精品推荐
                </li>
            </a>
            <a href="javascript:;">
                <li class="footerbar-btn">
                    <i class="icon-list"></i>
                    产品列表
                </li>
            </a>
            <a href="javascript:;">
                <li class="footerbar-btn">
                    <i class="icon-int"></i>
                    智能配置
                </li>
            </a>
            <a href="javascript:;">
                <li class="footerbar-btn">
                    <i class="icon-user"></i>
                    我
                </li>
            </a>

        </ul>
    </footer>
</body>
</html>